<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Layout Basico</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
	
	<div class="contenedor">
		<header>
			<nav>
				<ul>
					<li>
						<a href="#">Inicio</a>
					</li>
					<li>	<a href="#">Acerca de</a>
					</li>
					<li><a href="#">Productos</a>
					</li>
					<li>
						<a href="#">Contacto</a>
					</li>
					</li>
				</ul>
			</nav>
		</header>
		<section class="main">
			<div class="imagen">
			<img src="img/snfrancisco.jpg" alt="Sn Francisco" width="600">
			</div>
		
		<section class="posts">
			<article>
				<h2>Titulo del Articulo</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa consequatur, nemo in explicabo illum fuga, rem dicta quibusdam iusto reiciendis expedita dignissimos excepturi consequuntur molestiae at necessitatibus recusandae, architecto error!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa consequatur, nemo in explicabo illum fuga, rem dicta quibusdam iusto reiciendis expedita dignissimos excepturi consequuntur molestiae at necessitatibus recusandae, architecto error!</p>
			</article>
		</section>
	</section>
	<aside>
		<div class="widget">
			<h3 class="titulo">
				Articulos Destacados
			</h3>
			<ul>
				<li>
					<a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </a>
				</li>
				<li>
					<a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </a>
				</li>
				<li>
					<a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </a>
				</li>
				<li>
					<a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </a>
				</li>
				<li>
					<a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </a>
				</li>
			</ul>
		</div>

		<div class="widget">
			
			<h3 class="titulo">
				Información
			</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, modi tempore velit sed repellat odit voluptate reprehenderit repudiandae? Deserunt explicabo iure distinctio ex dignissimos pariatur eligendi sunt eveniet ut consequuntur.
			</p>
		</div>
	</aside>
	<footer>
		<p>
			José de Jesus Argumedo Quiroz 2019 - Todos los derechos reservados
		</p>
	</footer>
	</div>

</body>
</html>