
body{
	background: url('../img/palm-leaf.png');
	background-repeat: repeat;
	/*background-repeat: repeat-x;
	background-repeat: repeat-y;*/
	/*background-size: 100%;*/
	/*En lugar de 100%*/
	/*background-size: cover;*/
	/*background-size: contain;*/
	background-attachment: fixed;
	/*background-position: center center;*/
	/*background: url('../img/saltar-la-corniza.png') no-repeat fixed center center;
	background-size: 500px;*/
}

/*.fondo{
	width: 600px;
	height: 600px;
	background: url('../img/saltar-la-corniza.png') #000;
	background-repeat: no-repeat;
	background-size: 100%
}*/