.fondo{
	width: 150px;
	height: 50px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cedce7+0,596a72+97 */
background: rgb(206,220,231); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 97%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 97%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=1 ); /* IE6-9 */

}