#CPForm_DlgApoderados_Grid_gapoderSelecc{
	height:200px;
	overflow-x: auto;
}

#CPForm_DlgApoderados_Div_gapoderSelecc{
	height:200px;
	overflow-x: auto;
}

#CPForm_DlgApoderadosOtros_Grid_ApSelecc{
	height:200px;
	overflow-x: auto;
}